#cx-jogar{
    background-color: rgb(0, 0, 0);
    margin: 70px auto 70px auto;
    width: 700px;
    height: 400px;
    display: grid;
    border: 1px solid rgb(161, 155, 155);
}

#cx-jogar > button{
    margin: auto;
    padding: 5px;
    background-color: rgb(62, 99, 6);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width:750px){
   
    #cx-jogar{
        background-color: rgb(0, 0, 0);
        margin: 70px auto 70px auto;
        width: 300px;
        height: 300px;
        display: grid;
        border: 1px solid rgb(161, 155, 155);
    }
    
    #cx-jogar > button{
        margin: auto;
        padding: 5px;
        background-color: rgb(62, 99, 6);
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    
}
